/*estilo por tag(se aplica a todos los selectores: */

body{
    background-image:url("Imagenes/marr_spacx2.jpg");
    background-size:cover;
    background-attachment: fixed;
}
#body2{
    background-image:url("Imagenes/universo_estrellas.jpg");
    background-size:cover;
    background-attachment: fixed;
}

#Elon {
    color: white;
    font-family: "Britannic Bold";
    background-image: url(Imagenes/90cae0cf9b6cded6456a336101de9fd8.jpg);
    width: 1367px;
    height: 120px;
    background-repeat: repeat-x;
    background-size: contain;
    background-attachment: fixed;
    text-shadow: 2px 2px #0B0B13FF;
    margin:-11px;
    padding: 1px;
    text-align: left;
    font-size: 20px;

}
form{
    background: rgba(260,260,260,.2);
    box-shadow: 0 15px 20px rgba(0,0,0,.2);
    padding: 1px;
    text-align: left;
    font-size: 20px;
    margin: 1%;
    float: right;
}
.div1 {
    background: rgba(260, 260, 260, .2);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .2);
    width: 650px;
    height: 220px;
    padding: 5px;
    margin: 2%;
    overflow: auto;
}
.div1 h4{
    font-size: 15px;
}

.boton {
    display: inline-flex;
    position: absolute;
    top: 45%;
    right:12%;
    align-items: center;
    justify-content: center;
    width:170px;
    height: 170px;
    background: rgb(255, 0, 0);
    color:white;
    font-family: "Roboto Light";
    font-size: 50px;
    font-weight: 500;
    cursor: pointer;
    text-transform: uppercase;
    border: rgba(26, 24, 24, 0.87);
    border-radius: 50%;
    box-shadow: 0 15px 1px rgba(0,0,0,0.5);

}
.boton:hover{
    box-shadow: 0 15px 1px rgba(0,0,0,0.5) ;
    transform: scale(.90);
}

.boton2{
    position: absolute;
    top: 85%;
    right:12%;
    height: 45px;
    width:130px;
    text-align: center;
    font-family: "Arial Black";
    color: #000000;
    background: #985656;
    border-radius:7%;
}

ul{
    color: #020101;
    font-family: Arial, serif;
}
footer{
    color: #030303; font-family:"Kanit";text-align: left;align-items: end;
    font-size: 15px;
    float: left;
    margin: 20px auto;
}

#myCanvas{
    background: white fixed;
    margin: 0 auto;
    display: block;
}

.divsSaber{
    border: 2px solid #1f1bff;
    margin: 10px 900px 10px 10px;
    padding: 5px 30px;
    text-align: left;
}
